body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: #fff;
    padding: 30px;
    border: 2px solid green;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.section {
    border: 1px solid green;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
}

.box-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box {
    border: 1px solid green;
    padding: 20px;
    width: 100px;
}

.picture-box {
    border: 1px solid green;
    padding: 40px;
    width: 100px;
}